@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    --primary-color: #687EEE;
    --secondary-color: #FFFFFF;
    --primary-bg-color: #E0E2EA;
    --content-bg-color: #FFFFFF;
    --card-color-1: #95D995;
    --card-color-2: #F3797E;
    --card-color-3: #7978E9;
    --card-color-4: #7DA0FA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: var(--card-color-3);
}

.container {
    background: var(--secondary-color);
    width: 900px;
    padding: 2.5rem 2rem;
    position: relative;
}

.container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 100;
    transition: all 1s ease;

}

#flip {
    visibility: hidden;
}

.container .cover::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: #7978E9;
}


.container .cover img {
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 12;
}

.container #flip:checked ~ .cover {
    transform: translate(-100%);
}

.container .form {
    height: 100%;
    width: 100%;
    background: var(--secondary-color);
}

.container .form__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form__body .login__form,
.form__body .signup__form {
    width:  calc(100%/2 -  50px)
}

.form__body .form__header {
    font-size: 25px;
    font-weight: 600;
}

.form__body .input__fields {
    margin-top: 30px;
}

.form__body .input__field {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    margin: 15px 0;
    position: relative;
}

.form__body .input__field input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.form__body .input__field span {
    position: absolute;
    color: #6441a5;
    font-size: 18px;

}
/* changes ------------------ */

/* .form__body .input__field input:focus
{
    border-color: #6441a5;
} */

.input__field .line{
  position: absolute;
  height: 2px;
  width: 0;
  transition: .3s width ease-in-out;
  background-color: rgba(0,0,0,0.2);
  top: 53px;
}

.form__body input[type=email]:focus+.line {
  width: 100%;
  background-color:#6441a5;
}
.form__body input[type=password]:focus+.line {
  width: 100%;
  background-color:#6441a5;
}

/* end of changes ------------------ */

.form__body .button input {
    margin-top: 2.5rem;
}
.form__body .button input {
    color: #FFFFFF;
    background: #6441a5;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

.form__body .button input:hover {
    background: #9146FF;
}

.form__body .text {
    margin-top: 2rem;
}

.form__body label {
    color: #9146FF;
    font-weight: 600;
    cursor: pointer;
}

.form__body label:hover {
    text-decoration: underline;
}

.form__body .text {
    text-align: center;
}

@media screen and (max-width: 810px){
    .container .cover {
        display: none;
    }

    .form__body .login__form,
    .form__body .signup__form {
        width: 100%;
    }

    .form__body .signup__form {
        display: none;
    }

    .container #flip:checked ~  form .signup__form {
        display: block;
    }

    .container #flip:checked ~  form .login__form {
        display: none;
    }
}